<h1 style="color: brown;"> kids summer camp</h1>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  
  <a class="navbar-brand" routerLink="kidssummercamp">kids summer camp</a>

  <ul class="navbar-nav">
    
      <li class="nav-item">
        <a class="nav-link" routerLink="home">home</a>
       <!-- <a class="nav-link" routerLink="ITcompanies"><button class="btn btn-success pull-right" >ITcompanies</button></a>
      -->
      

    <li class="nav-item">
      <a class="nav-link" routerLink="courses">courses</a>
     <!-- <a class="nav-link" routerLink="services"><button class="btn btn-success pull-right" >spices</button></a>
-->
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="registernow">register now</a>
     <!-- <a class="nav-link" routerLink="Embeddedcompanies"><button class="btn btn-success pull-right" >Embeddedcompanies</button></a>
-->
    </li>
    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="programs" id="navbardrop" data-toggle="dropdown"> programs
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="art&craft">art&craft</a>
          <a class="dropdown-item" routerLink="dance">dance</a>
          <a class="dropdown-item" routerLink="fun with english">fun with english</a>
          
            
        </div>
      </li>
      

    
    <li class="nav-item">
      <a class="nav-link" routerLink="ITcompanies">more information</a>
     <!-- <a class="nav-link" routerLink="ITcompanies"><button class="btn btn-success pull-right" >ITcompanies</button></a>
-->
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" routerLink="carrier" id="navbardrop" data-toggle="dropdown"> carrier
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" routerLink="artist">artist</a>
    <a class="dropdown-item" routerLink="privatejobs">celebrati</a>
      
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" routerLink="login">login</a>
 <!-- <a class="nav-link" routerLink="login"><button class="btn btn-success pull-right" >login</button></a>
-->
</li>

  </ul>
</nav>
<footer class="page-footer font-small mdb-color lighten-3 pt-4">
<div>
  <style>
    /* Make the image fully responsive */
    .carousel-inner img {
      width: 30%;
      height: 2%;
    }
    </style>
  <body>
  
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/images/pic1.jpg" alt="Los Angeles" width="1100" height="500">
        <div class="carousel-caption">
          <h3>Los Angeles</h3>
          <p>We had such a great time in LA!</p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="./assets/images/PIC2.jpg" alt="Chicago" width="1100" height="500">
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago!</p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="./assets/images/deepthi.jpg" alt="Chicago" width="1100" height="500">
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago!</p>
        </div>   
      <div class="carousel-item">
        <img src="./assets/images/PIC3.jpg" alt="New York" width="1100" height="500">
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>   
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
    <footer class="page-footer font-small mdb-color lighten-3 pt-4">
     <div class="footer-copyright text-center py-3" > © 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    <!-- Copyright -->
  </div>

<router-outlet></router-outlet>
    </footer>
